.calc{
    margin: 0 auto;
    width: 300px;
}
.buttons{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.btn{
    width: 70px;
    height: 50px;
    margin-bottom: 4px;
}
.disp{
    width: 298px;
    height: 50px;
    margin-bottom: 3px;
}